@media(max-width:449px){
    .header{
        background: rgb(255, 193, 38);
    }
    .construction{
        max-width: 100%;
    }
    .header_menu{
        margin-top: 12px;
        display: none;
    }
    .navBarColor
    {
        background-color: rgb(255, 193, 38);
        color: white;
        padding: 15px;
        
    }
    .navbar-collapse{
        display:none;
    }
    .header_area{
        padding: 20px;
    }
    .header_menu ul a{
        background-color: rgb(255, 193, 38);
        color: white;
    }
    .dropdown{
        padding: 10px;
    }
    .header_menu ul a:hover{
        background-color: black;
    }
    .active{
        background-color:lightgrey ;
    }
    .carousel-inner{
        max-width: 100%;
        align-self: center;
    }
    .dropdown{
        
    }
    .pequi{
        top: 0;
        margin-left: 20px;
    }
    .batima{
        max-height: 100%;
        max-width: 100%;
        align-self: center;
    }
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(255, 193, 38);
        color: white;
        text-align: center;
    }
    .titulo{
        text-align: center;
        margin-bottom: 80px;
        margin-top: 60px;
    }
    .logotop{
        width: 150px;
        margin-left: 80px;
        display: visible;
    }
    .logobottom{
        width:50px;
        margin-left: 10px;
    } 
    .doe{
        max-width: 100%;
        margin-right: 20px;
    }
    .sobrefoto{
        max-width: 100%;
        margin-right: 100px;
        margin-top: 30px;
    }
    .carregar{
        text-align: right;
    }
    .butaum{
        margin-bottom: 40px;
        margin-right: 5px;
    }
    .nuevos{
        max-width: 100%;
        align-content: center;
    }
    .n-ovo b{
        text-align: center;
    }
    .main .card{
        margin-bottom: 15px;
    }  
    body {
        color: #fff;
        background: #19aa8d;
        font-family: 'Roboto', sans-serif;
    }
    .form-control {
        font-size: 15px;
    }
    .form-control, .form-control:focus, .input-group-text {
        border-color: #e1e1e1;
    }
    .form-control, .btn {        
        border-radius: 3px;
    }
    .signup-form {
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;		
    }
    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .signup-form h2 {
        color: #333;
        font-weight: bold;
        margin-top: 0;
    }
    .signup-form hr {
        margin: 0 -30px 20px;
    }
    .signup-form .form-group {
        margin-bottom: 20px;
    }
    .signup-form label {
        font-weight: normal;
        font-size: 15px;
    }
    .signup-form .form-control {
        min-height: 38px;
        box-shadow: none !important;
    }	
    .signup-form .input-group-addon {
        max-width: 42px;
        text-align: center;
    }	
    .signup-form .btn, .signup-form .btn:active {        
        font-size: 16px;
        font-weight: bold;
        background: #19aa8d !important;
        border: none;
        min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
        background: #179b81 !important;
    }
    .signup-form a {
        color: #fff;	
        text-decoration: underline;
    }
    .signup-form a:hover {
        text-decoration: none;
    }
    .signup-form form a {
        color: #19aa8d;
        text-decoration: none;
    }	
    .signup-form form a:hover {
        text-decoration: underline;
    }
    .signup-form .fa {
        font-size: 21px;
    }
    .signup-form .fa-paper-plane {
        font-size: 18px;
    }
    .signup-form .fa-check {
        color: #fff;
        left: 17px;
        top: 18px;
        font-size: 7px;
        position: absolute;
    }
}
@media(min-width:450px) and (max-width: 800px){
    .construction{
        max-width: 100%;
    }
    .header{
        background: rgb(255, 193, 38);
    }
    .header_menu{
        margin-top: 12px;
        display: none;
    }
    .dropdown{
        padding: 10px;
    }
    .logotop{
        width: 150px;
        margin-left: 10px;
    }
    .header_area{
        position: relative;
        display: inline-block;
        padding: 20px;
        margin-top: 10px;
    }

    .header_menu ul a{
        background-color: rgb(255, 193, 38);
        color: white;
        display: none;
    }

    .navBarColor
    {
        background-color: rgb(255, 193, 38);
        color: white;
        padding: 15px;
    }
    .navbar-collapse{
        display:none;
    }
    .carousel-inner{
        max-width: 100%;
        align-self: center;
    }
    .pequi{
        top: 0;
        margin-left: 20px;
    }
    .batima{
        max-height: 100%;
        max-width: 100%;
        align-self: center;
    }
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(255, 193, 38);
        color: white;
        text-align: center;
    }
    .titulo{
        text-align: center;
        margin-bottom: 80px;
        margin-top: 60px;
    }
 
    .logobottom{
        width:60px;
        margin-left: 60px;
    } 


    .main .card{
        margin-bottom: 15px;
    }
    body {
        color: #fff;
        background: #19aa8d;
        font-family: 'Roboto', sans-serif;
    }
    .form-control {
        font-size: 15px;
    }
    .form-control, .form-control:focus, .input-group-text {
        border-color: #e1e1e1;
    }
    .form-control, .btn {        
        border-radius: 3px;
    }
    .signup-form {
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;		
    }
    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .signup-form h2 {
        color: #333;
        font-weight: bold;
        margin-top: 0;
    }
    .signup-form hr {
        margin: 0 -30px 20px;
    }
    .signup-form .form-group {
        margin-bottom: 20px;
    }
    .signup-form label {
        font-weight: normal;
        font-size: 15px;
    }
    .signup-form .form-control {
        min-height: 38px;
        box-shadow: none !important;
    }	
    .signup-form .input-group-addon {
        max-width: 42px;
        text-align: center;
    }	
    .signup-form .btn, .signup-form .btn:active {        
        font-size: 16px;
        font-weight: bold;
        background: #19aa8d !important;
        border: none;
        min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
        background: #179b81 !important;
    }
    .signup-form a {
        color: #fff;	
        text-decoration: underline;
    }
    .signup-form a:hover {
        text-decoration: none;
    }
    .signup-form form a {
        color: #19aa8d;
        text-decoration: none;
    }	
    .signup-form form a:hover {
        text-decoration: underline;
    }
    .signup-form .fa {
        font-size: 21px;
    }
    .signup-form .fa-paper-plane {
        font-size: 18px;
    }
    .signup-form .fa-check {
        color: #fff;
        left: 17px;
        top: 18px;
        font-size: 7px;
        position: absolute;
    }
}
@media (min-width: 780px){
    .construction{
        max-width: 100%;
    }
    .welcome{
        max-width: 50%;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .Bemvindo{
       text-align: center;
    }
    .nav-itema{
        display: none;
    }
    .area51{
        display: none;
    }
    .nav-itemb{
        margin-left: 20px;
        margin-top: 15px;;
    }
    .header{
        background: rgb(255, 193, 38);
    }
    .amarelo{
        color: (255, 193, 38);
    }
    .header_menu{
        margin-top: 12px;
        margin-left: 5px;
        overflow: auto;
    }
    .header_area{
        padding:15px;
    }
    .navBarColor
    {
        background-color: rgb(255, 193, 38);
        color: white;
        padding: 15px;
    }

    .navBarColor ul a:hover{
        background-color: black;
    }
    .main .active{
        background-color:lightgray;
    }
    .carousel-inner{
        max-width: 100%;
        max-height: 600px;
        align-self: center;
    }
    .dropdown{
        
    }
    .pequi{
        top: 0;
        margin-left: 20px;
    }
    .batima{
        max-width: 100%;
        max-height: 300px;
        align-self: center;
    }
    .footer {
        padding:10px;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgb(255, 193, 38);
        color: white;
        text-align: center;
    }
    .titulo{
        text-align: center;
        margin-bottom: 80px;
        margin-top: 60px;
    }
    .logotop{
        width: 130px;
    }
    .logobottom{
        width:130px;
        margin-left: 60px;
    } 
    .doe{
        max-width: 30%;
        margin-right: 20px;
    }
    .sobrefoto{
        max-width: 25%;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .carregar{
        text-align: right;
    }
    .butaum{
        margin-bottom: 40px;
        margin-right: 5px;
    }
    .nuevos{
        max-width: 100%;
    }
    .n-ovo b{
        text-align: center;
    }
    .main .card{
        margin-bottom: 15px;
    }
    body {
        color: #fff;
        background: #19aa8d;
        font-family: 'Roboto', sans-serif;
    }
    .form-control {
        font-size: 15px;
    }
    .form-control, .form-control:focus, .input-group-text {
        border-color: #e1e1e1;
    }
    .form-control, .btn {        
        border-radius: 3px;
    }
    .signup-form {
        width: 400px;
        margin: 0 auto;
        padding: 30px 0;		
    }
    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .signup-form h2 {
        color: #333;
        font-weight: bold;
        margin-top: 0;
    }
    .signup-form hr {
        margin: 0 -30px 20px;
    }
    .signup-form .form-group {
        margin-bottom: 20px;
    }
    .signup-form label {
        font-weight: normal;
        font-size: 15px;
    }
    .signup-form .form-control {
        min-height: 38px;
        box-shadow: none !important;
    }	
    .signup-form .input-group-addon {
        max-width: 42px;
        text-align: center;
    }	
    .signup-form .btn, .signup-form .btn:active {        
        font-size: 16px;
        font-weight: bold;
        background: #19aa8d !important;
        border: none;
        min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
        background: #179b81 !important;
    }
    .signup-form a {
        color: #fff;	
        text-decoration: underline;
    }
    .signup-form a:hover {
        text-decoration: none;
    }
    .signup-form form a {
        color: #19aa8d;
        text-decoration: none;
    }	
    .signup-form form a:hover {
        text-decoration: underline;
    }
    .signup-form .fa {
        font-size: 21px;
    }
    .signup-form .fa-paper-plane {
        font-size: 18px;
    }
    .signup-form .fa-check {
        color: #fff;
        left: 17px;
        top: 18px;
        font-size: 7px;
        position: absolute;
    }
}