
.carousel{
    max-height: 600px;
    min-width: auto;
}
.imgCarousel
{
    height: 200px;
    width: 400px;
}

.navBarColor
{
    background-color: #FFC126;
}

.logo
{
    width: 150px;
}
.testeclass
{
    background-color: rgb(255, 127, 206);
}
.video
{
    text-align: center; 
    display: inline-block;
}

.imgAvaliacao
{
    height: 50px;
    width: 50px; 
}
.carousel-inner{
    width:100%;
    max-height: 500px ;
    min-height: 500px ;
    vertical-align: middle

}

.containerSpaces {
    padding: 50px;
 }

 .textSpaces
 {
     padding-left: 0;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 .textlessSpaces
 {
     padding-left: 0;
     padding-top: 10px;
     padding-bottom: 10px;
 }

.footer{
    margin-top: 10px;
    background: rgb(110, 62, 138);
    color: white;
}
.footer_area{
    padding: 20px;
    text-align: center  ;
}

.backNav
{
    background-color: rgb(224, 224, 224);
}

.navlink {
    color: white !important;
}

.imgCards
{
    height: 410px;
    width: 286px;
}

.imgNoticias
{
    width: 210px;
    height: 86px;
}
.fontNoticias
{
    font-size: small;
    word-break: break-word;
}

.fontNoticiasMini
{
    font-size: smaller;
}
.dropdown-menu-right {
    padding-right: 10px;
}



/*Cadastro*/
body {
	color: #fff;
	background: #19aa8d;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	font-size: 15px;
}
.form-control, .form-control:focus, .input-group-text {
	border-color: #e1e1e1;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;		
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2 {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr {
	margin: 0 -30px 20px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 15px;
}
.signup-form .form-control {
	min-height: 38px;
	box-shadow: none !important;
}	
.signup-form .input-group-addon {
	max-width: 42px;
	text-align: center;
}	
.signup-form .btn, .signup-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #19aa8d !important;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #179b81 !important;
}
.signup-form a {
	color: #fff;	
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #19aa8d;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

@media screen and (max-width:600px)
{
    .video
    {
        height: 100px;
        width: 200px;
    }
}



@media screen and (max-width:576px)
{
    
}
