.logo{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.construction{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}