<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Dashboard</title>
</head>
<body>
    <a href="/users/logout">Logout</a>
    <h1>Ola <%= user.charAt(0).toUpperCase()+user.slice(1)%></h1>
    <ul>
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% }) %> <% } %>
      </ul>
  
      <ul>
        <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
      </ul>
  
      <ul>
        <% if (messages.error) { %>
        <li><%= messages.error %></li>
        <% } %>
      </ul>
      <div><a href="/users/alter">Mudar a senha</a></div>
    <div><a href="/users/delete">Deletar a conta</a></div>
</body>
</html>