<%- include ('./partials/header') %>

   
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"1f94db1c1c4eac7980e1fa67863725787","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>

    <main class="container main">
        <div id = "formulario"></div>
        <h1>Home</h1>
        <a href="/users/login">Login</a><br>
        <a href="/forum/posts">Spoilers</a>
    </main>
</div>

<%- include ('./partials/footer') %>