<%- include ('./partials/header') %>

    <div id = "formulario"></div>
    <h1>Home</h1>
    <a href="/users/login">Login</a><br>
    <a href="/forum/posts">Posts</a>
    

    <main class="container main">
        <img src ="/public/assets/imagens/image.jpeg"  class="construction">
    </main>
</div>

<%- include ('./partials/footer') %>