<%- include ('./partials/header') %>

   
    

    <main class="container main">
        <div id = "formulario"></div>
        <h1>Home</h1>
        <a href="/users/login">Login</a><br>
        <a href="/forum/posts">Spoilers</a>
    </main>
</div>

<%- include ('./partials/footer') %>