<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/view/style.css">
    <title>SpoilerX</title>
</head>

<body>


    <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"1f94db1c1c4eac7980e1fa67863725787","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>

    <header>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark navBarColor ">
            <div class="dropdown">
                <div class="row">
                    <div class="area51">
                        <div class="dropdown show">
                            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/view/index.html">Home</a>
                                <a class="dropdown-item" href="/view/series.html">Séries</a>
                                <a class="dropdown-item" href="/view/mangas.html">Mangás</a>
                                <a class="dropdown-item" href="/view/terror.html">Terror</a>
                                <a class="dropdown-item" href="http://spoilerxforum.herokuapp.com/">Fórum</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/imagens/spoilerx.jpg" class="logotop">


            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 15px;">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item active">
                        <a class="nav-link" href="/view/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view/series.html">Séries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view/terror.html">Terror</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/view/mangas.html">Mangás</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://spoilerxforum.herokuapp.com/">Fórum</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisa</button>
                </form>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-flip="true"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Entrar
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail1">Email </label>
                            <input type="email" class="form-control" id="campoEmail" placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">Senha</label>
                            <input type="password" class="form-control" id="campoSenha" placeholder="Senha">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                Permanecer logado
                            </label>
                        </div>

                        <a href="/view/welcomeback.html" button type="submit" class="btn btn-primary"
                            id="btnEntrar">Entrar</button>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view/cadastro.html">Novo por aqui? Cadastrar</a>
                            <a class="dropdown-item" href="#">Esqueceu a senha?</a>
                </div>
            </div>

        </nav>
        <script>

            // Declara uma função para processar o formulário de login
            function processaFormLogin(event) {
                // Cancela a submissão do formulário para tratar sem fazer refresh da tela
                event.preventDefault();

                // Obtem os dados de login e senha a partir do formulário de login
                var username = document.getElementById('email').value;
                var password = document.getElementById('senha').value;

                // Valida login e se estiver ok, redireciona para tela inicial da aplicação
                resultadoLogin = loginUser(username, password);
                if (resultadoLogin) {
                    window.location.href = 'index.html';
                    alert('Logado');

                }
                else { // Se login falhou, avisa ao usuário
                    alert('Usuário ou senha incorretos');
                }
            }
            document.getElementById('btnEntrar').addEventListener('submit', processaFormLogin);
        </script>


    </header>

    <div class="bgFull">
        <main class="container main bg-light bgWhite">
            <div class="container">
                <div class="row">
                    <div class="col-12 titulo">
                        <h1>Novos Spoilers</h1>
                    </div>
                </div>
                <div class="row carousel slide carouselBase" id="carouselExampleIndicators" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img class="d-block carouselImgs" src="/imagens/got.png" alt="Primeiro Slide">
                                </div>
                                <div class="col-12 col-md-6">
                                    <h4 class="text-center carouselTitulo ">Game of thrones</h4>
                                    <p><b>Sinopse:</b></p>
                                    <p class="text-justify textSinopse">Situada nos continentes fictícios de
                                        Westeros e Essos, a série centra-se no Trono de Ferro dos Sete Reinos e
                                        segue um enredo de alianças e conflitos entre as famílias nobres dinásticas,
                                        seja competindo para reivindicar o trono ou lutando por sua independência.
                                    </p>
                                </div>
                            </div>


                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img class="d-block carouselImgs" src="/imagens/boys.png" alt="Segundo Slide">
                                </div>
                                <div class="col-12 col-md-6">
                                    <h4 class="text-center carouselTitulo">The boys</h4>
                                    <p><b>Sinopse:</b></p>
                                    <p class="text-justify textSinopse"> The Boys se passa em um universo onde
                                        indivíduos superpoderosos são
                                        reconhecidos como heróis pelo público em geral e pertencem à poderosa
                                        corporação Vought International, que os comercializa e monetiza. Fora de
                                        suas personas heroicas, a maioria é arrogante e corrupta.</p>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img class="d-block carouselImgs" src="/imagens/corra.jpg" alt="Terceiro Slide">
                                </div>
                                <div class="col-12 col-md-6">
                                    <h4 class="text-center carouselTitulo">Corra</h4>
                                    <p><b>Sinopse:</b></p>
                                    <p class="text-justify textSinopse">Um jovem fotógrafo descobre um segredo
                                        sombrio quando conhece os pais
                                        aparentemente amigáveis da sua namorada. </p>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <img class="d-block carouselImgs" src="/imagens/bersek.jpg" alt="Quarto Slide">
                                </div>
                                <div class="col-12 col-md-6">
                                    <h4 class="text-center carouselTitulo ">Bersek</h4>
                                    <p><b>Sinopse:</b></p>
                                    <p class="text-justify textSinopse">Situado em um mundo de fantasia sombria
                                        inspirado na Europa medieval, a
                                        história gira em torno do solitário Guts, um ex-mercenário e agora um
                                        espadachim amaldiçoado e forçado a vagar sem descanso para sobreviver e
                                        buscar vingança, e Griffith, o líder de um bando de mercenários chamado de
                                        "Bando do Falcão". </p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>

                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>

                <div class="row">
                    <div class="col-12 titulo">
                        <h1>Mais Vistos</h1>
                    </div>
                </div>
                <!--Cards de destaque-->
                <div class="row ">
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 ">
                        <div class="card">
                            <img src="/imagens/gambit.jpeg" class="card-img-top imgCard" alt="batmanbegins">
                            <div class="card-body">
                                <button type="button" class="btn btn-link">O Gambito da Rainha</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 ">
                        <div class="card">
                            <img src="/imagens/mandalorian.jpg" class="card-img-top imgCard" alt="darkknight">
                            <div class="card-body">
                                <button type="button" class="btn btn-link">Mandalorian</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 ">
                        <div class="card">
                            <img src="/imagens/naruto.jpeg" class="card-img-top imgCard" alt="darkknightrises">
                            <div class="card-body">
                                <button type="button" class="btn btn-link">Naruto</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 ">
                        <div class="card">
                            <img src="/imagens/Granblue_Fantasy_The_Animation_Season_2.jpg" class="card-img-top imgCard"
                                alt="batmansuperman">
                            <div class="card-body">
                                <button type="button" class="btn btn-link">Granblue Fantasy The Animation</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 ">
                        <div class="card">
                            <img src="/imagens/Kakegurui.jpg" class="card-img-top imgCard" alt="batmansuperman">
                            <div class="card-body">
                                <button type="button" class="btn btn-link">Kakegurui</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 ">
                        <div class="card">
                            <img src="/imagens/osOrfaoss.jpg" class="card-img-top imgCard" alt="batmansuperman">
                            <div class="card-body">
                                <button type="button" class="btn btn-link">Os Órfãos</button>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
    </div>

    <footer class="container footer col-12">
        Copyright 2020 - Disciplina de Trabalho interdisciplinar 1 e 2 - <b>ICEI PUC Minas</b>
        <img src="/imagens/spoilerx.jpg" alt="LPH" class="logobottom">
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>