<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>SpoilerX</title>
</head>

<body>


    <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"1f94db1c1c4eac7980e1fa67863725787","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
    <header>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark navBarColor ">
            <div class="dropdown">
                <div class="row">
                    <div class="area51">
                        <div class="dropdown show">
                            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/view/index.html">Home</a>
                                <a class="dropdown-item" href="/view/series.html">Séries</a>
                                <a class="dropdown-item" href="/view/mangas.html">Mangás</a>
                                <a class="dropdown-item" href="/view/terror.html">Terror</a>
                                <a class="dropdown-item" href="http://spoilerxforum.herokuapp.com/">Fórum</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/imagens/spoilerx.jpg" class="logotop">


            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 15px;">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item active">
                        <a class="nav-link" href="/view/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view/series.html">Séries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view/terror.html">Terror</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/view/mangas.html">Mangás</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://spoilerxforum.herokuapp.com/">Fórum</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisa</button>
                </form>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-flip="true"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Entrar
                </button>

                <div class="dropdown-menu dropdown-menu-right">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail1">Email </label>
                            <input type="email" class="form-control" id="campoEmail" placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">Senha</label>
                            <input type="password" class="form-control" id="campoSenha" placeholder="Senha">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                Permanecer logado
                            </label>
                        </div>

                        <a href="/view/welcomeback.html" button type="submit" class="btn btn-primary"
                            id="btnEntrar">Entrar</button>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view/cadastro.html">Novo por aqui? Cadastrar</a>
                            <a class="dropdown-item" href="#">Esqueceu a senha?</a>
                </div>
            </div>

        </nav>
        <script>

            // Declara uma função para processar o formulário de login
            function processaFormLogin(event) {
                // Cancela a submissão do formulário para tratar sem fazer refresh da tela
                event.preventDefault();

                // Obtem os dados de login e senha a partir do formulário de login
                var username = document.getElementById('email').value;
                var password = document.getElementById('senha').value;

                // Valida login e se estiver ok, redireciona para tela inicial da aplicação
                resultadoLogin = loginUser(username, password);
                if (resultadoLogin) {
                    window.location.href = 'index.html';
                    alert('Logado');

                }
                else { // Se login falhou, avisa ao usuário
                    alert('Usuário ou senha incorretos');
                }
            }
            document.getElementById('btnEntrar').addEventListener('submit', processaFormLogin);
        </script>



    </header>
    <div class="bgFull">
        <main class="container main bg-light bgWhite">
            <div class="container">
                <div class="row acinzentado">
                    <div class="col-12 titulo acinzentado">
                        <h1>Spoilers de séries</h1>
                    </div>
                </div>
                <div class="espoilers">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img class="d-block w-100 batima" src="/imagens/boys.png">
                            <p><b>The boys:</b></p>
                            <p> The Boys se passa em um universo onde indivíduos superpoderosos são reconhecidos como
                                heróis pelo público em geral e pertencem à poderosa corporação Vought International, que
                                os comercializa e monetiza. Fora de suas personas heroicas, a maioria é arrogante e
                                corrupta.</p>
                            <p><b>Ler Spoiler</b></p>
                        </div>
                        <div class="col-12 col-md-6">
                            <img class="d-block w-100 batima" src="/imagens/got.png">
                            <p><b>Game of thrones:</b></p>
                            <p>Situada nos continentes fictícios de Westeros e Essos, a série centra-se no Trono de
                                Ferro dos Sete Reinos e segue um enredo de alianças e conflitos entre as famílias nobres
                                dinásticas, seja competindo para reivindicar o trono ou lutando por sua independência.
                            <p><b>Ler Spoiler</b></p>
                            </p>

                        </div>

                        <div class="row">
                            <div class="col-12 titulo">
                                <h1>Séries mais vistas</h1>
                            </div>
                        </div>
                        <!--Cards de destaque-->
                        <div class="row">
                            <div class="col-12 col-md-6 col-sm-12 col-lg-3 ">
                                <div class="card">
                                    <img src="/imagens/lovecraft.jpg" class="card-img-top" alt="batmanbegins">
                                    <div class="card-body">
                                        <p class="card-text">Baseado no romance "Território Lovecraft" (Intrínseca), de
                                            Matt Ruff, a produção acompanha a saga de Atticus Freeman (Jonathan Majors),
                                            jovem negro recém-chegado da Guerra da Coreia que viaja pela Chicago dos
                                            anos 1950 em busca de seu pai desaparecido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-sm-12 col-lg-3 ">
                                <div class="card">
                                    <img src="/imagens/goodplace.jpg" class="card-img-top" alt="darkknight">
                                    <div class="card-body">
                                        <p class="card-text">Eleanor Shellstrop (Kristen Bell) está morta. Acontece que,
                                            após sua partida, ela foi enviada ao "Good Place - ou "Lugar Bom" -, um
                                            lugar de eterna felicidade destinado às pessoas que fizeram o bem durante
                                            suas vidas..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-sm-12 col-lg-3 ">
                                <div class="card" ">
                                    <img src=" /imagens/upload.jpg" class="card-img-top" alt="darkknightrises">
                                    <div class="card-body">
                                        <p class="card-text">Upload é ambientado em um futuro em que os seres humanos
                                            são capazes de "carregar" a si mesmos em sua escolha preferida de vida após
                                            a morte. Quando Nathan (Robbie Amell) encontra sua morte prematura, ele é
                                            recebido por Nora (Andy Allo) em sua versão do céu.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-sm-12 col-lg-3 ">
                                <div class="card" ">
                                    <img src=" /imagens/alienist.jpg" class="card-img-top" alt="batmansuperman">
                                    <div class="card-body">
                                        <p class="card-text">The Alienist é uma série de TV norte-americana produzida
                                            originalmente para a Netflix. A história acompanha o recém-nomeado
                                            Comissário de Polícia, Theodore Roosevelt, que encarrega o psicólogo
                                            criminal, Dr. ... Moore trabalha no The New York Times e é um amigo de longa
                                            data do Dr. Kreizler e do Comissário Roosevelt.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


        </main>
    </div>
    <footer class="container footer col-12">
        Copyright 2020 - Disciplina de Trabalho interdisciplinar 1 e 2 - <b>ICEI PUC Minas</b>
        <img src="/imagens/spoilerx.jpg" alt="LPH" class="logobottom">
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>