<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>SpoilerX</title>
    <meta http-equiv="refresh" content="2;url=index.html" />
</head>

<body>


<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https://storage.googleapis.com/cloudprod-apiai/3467b0d3-07d4-4f3e-b781-a3f73d7b92c5_x.png"
  intent="WELCOME"
  chat-title="Spoilerzito"
  agent-id="f61ff12d-42a6-4911-96ff-26be21e6407a"
  language-code="pt-br"
></df-messenger>
    <header>
        <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark navBarColor ">
            <div class="dropdown">
                <div class="row">
                    <div class="area51">
                        <div class="dropdown show">
                            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="index.html">Home</a>
                                <a class="dropdown-item" href="series.html">Séries</a>
                                <a class="dropdown-item" href="mangas.html">Mangás</a>
                                <a class="dropdown-item" href="terror.html">Terror</a>
                                <a class="dropdown-item" href="forum.html">Fórum</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/imagens/spoilerx.jpg" class="logotop">


            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 15px;">
                <ul class="navbar-nav mr-auto ">

                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="series.html">Séries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="terror.html">Terror</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="mangas.html">Mangás</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://spoilerxforum.herokuapp.com/">Fórum</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisa</button>
                </form>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-flip="true"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Entrar
                </button>


                <div class="dropdown-menu dropdown-menu-right">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail1">Email </label>
                            <input type="email" class="form-control" id="campoEmail" placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleDropdownFormPassword1">Senha</label>
                            <input type="password" class="form-control" id="campoSenha" placeholder="Senha">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                Permanecer logado
                            </label>
                        </div>

                        <a href="/view/welcomeback.html" button type="submit" class="btn btn-primary"
                            id="btnEntrar">Entrar</button>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view/cadastro.html">Novo por aqui? Cadastrar</a>
                            <a class="dropdown-item" href="#">Esqueceu a senha?</a>
                </div>
            </div>
        </nav>
        <script>

            // Declara uma função para processar o formulário de login
            function processaFormLogin(event) {
                // Cancela a submissão do formulário para tratar sem fazer refresh da tela
                event.preventDefault();

                // Obtem os dados de login e senha a partir do formulário de login
                var username = document.getElementById('email').value;
                var password = document.getElementById('senha').value;

                // Valida login e se estiver ok, redireciona para tela inicial da aplicação
                resultadoLogin = loginUser(username, password);
                if (resultadoLogin) {
                    window.location.href = 'index.html';
                    alert('Logado');

                }
                else { // Se login falhou, avisa ao usuário
                    alert('Usuário ou senha incorretos');
                }
            }
            document.getElementById('btnEntrar').addEventListener('submit', processaFormLogin);
        </script>



    </header>
    <div class="bgFull">
        <main class="container main bg-light bgWhite">
            <div class="Bemvindo">
                <h1>Seja bem vindo(a) de volta a nossa comunidade!</h1>
            </div>
            <p><img src="/imagens/welcome.png" class="welcome"></p>
        </main>
    </div>
    <footer class="container footer col-12">
        Copyright 2020 - Disciplina de Trabalho interdisciplinar 1 e 2 - <b>ICEI PUC Minas</b>
        <img src="/imagens/spoilerx.jpg" alt="LPH" class="logobottom">
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>